.container {
  display: flex;
  height: 100vh;
}

.contact__list {
  display: flex;
  flex-direction: column-reverse;
  gap: 22px;
}

.list__block {
  width: 753px;
  overflow-y: auto;
  padding: 7px 7px 7px 20px;
}

.list__block::-webkit-scrollbar {
  width: 8px;
}
